In [1]:
import numpy as np
import pandas as pd
import matplotlib as plt
import seaborn as sns

In [2]:
df1 = pd.read_csv('E-commerece sales data 2024.csv')
df1.head()

,user id,product id,Interaction type,Time stamp,Unnamed: 4
0,1.0,4c69b61db1fc16e7013b43fc926e502d,purchase,10/10/2023 8:00,NaN
1,2.0,66d49bbed043f5be260fa9f7fbff5957,view,11/10/2023 8:00,NaN
2,3.0,2c55cae269aebf53838484b0d7dd931a,like,12/10/2023 8:00,NaN
3,4.0,18018b6bc416dab347b1b7db79994afa,view,13/10/2023 8:00,NaN
4,5.0,e04b990e95bf73bbe6a3fa09785d7cd0,like,14/10/2023 8:00,NaN

In [3]:
df1.describe()

           user id  Unnamed: 4
count  2999.000000         0.0
mean   1500.000000         NaN
std     865.881054         NaN
min       1.000000         NaN
25%     750.500000         NaN
50%    1500.000000         NaN
75%    2249.500000         NaN
max    2999.000000         NaN

In [4]:
df1.shape

(3294, 5)

In [5]:
df1.isna().sum()

user id              295
product id           295
Interaction type     423
Time stamp           295
Unnamed: 4          3294
dtype: int64

In [6]:
df1.drop('Unnamed: 4', axis=1, inplace=True)
df1.drop('Time stamp', axis =1, inplace = True)
df1.head()

   user id                        product id Interaction type
0      1.0  4c69b61db1fc16e7013b43fc926e502d         purchase
1      2.0  66d49bbed043f5be260fa9f7fbff5957             view
2      3.0  2c55cae269aebf53838484b0d7dd931a             like
3      4.0  18018b6bc416dab347b1b7db79994afa             view
4      5.0  e04b990e95bf73bbe6a3fa09785d7cd0             like

In [7]:
df1["Interaction type"].unique().tolist()

['purchase', 'view', 'like', nan]

In [8]:
interaction_weights = {
    "view": 1,
    "like": 2,
    "purchase": 3
}

df1["interaction_weight"] = df1["Interaction type"].map(interaction_weights)
df1

,user id,product id,Interaction type,interaction_weight
0,1.0,4c69b61db1fc16e7013b43fc926e502d,purchase,3.0
1,2.0,66d49bbed043f5be260fa9f7fbff5957,view,1.0
2,3.0,2c55cae269aebf53838484b0d7dd931a,like,2.0
3,4.0,18018b6bc416dab347b1b7db79994afa,view,1.0
4,5.0,e04b990e95bf73bbe6a3fa09785d7cd0,like,2.0
...,...,...,...,...
3289,NaN,NaN,NaN,NaN
3290,NaN,NaN,NaN,NaN
3291,NaN,NaN,NaN,NaN
3292,NaN,NaN,NaN,NaN
3293,NaN,NaN,NaN,NaN

In [9]:
df1.isna().sum()

user id               295
product id            295
Interaction type      423
interaction_weight    423
dtype: int64

In [10]:
df1["interaction_weight"]=df1["interaction_weight"].fillna(1)
df1 = df1.dropna(subset = ["user id", "product id"])
df1.isna().sum()

user id                 0
product id              0
Interaction type      128
interaction_weight      0
dtype: int64

In [11]:
user_item_matrix = df1.pivot_table(
    index="user id",
    columns="product id",
    values="interaction_weight",
    aggfunc="sum",
    fill_value=0
)
user_item_matrix

product id,0000fe97fd6c7705b08b7f4c7c5312ce,00037729f1cb566e149f0beff2d9ffd3,001d216315bc84347addbb1a9c7e5015,001ea8215e519a8388c1f1574662550e,0027503a50a4f83becb24bf43b2cafcc,003fed6c097d330b68fee5ca499eab24,0060230165aa724806977225c15e2bb9,008e8f233ea674daad2ea0f3498449a4,00e6dc05d1a4f0f74763afb437aecca0,00ff655de78602b3912c92be580d2546,...,ff09acf412a4d6277345698d6038909f,ff1d9c58a8876ffd602041698b7af9f5,ff21beb8b88fab3dd112ddff6265a946,ff2d9b91f16ccd82704617dd4b833eba,ff6da764e297a604a998d3d7b6ea6304,ff7d71df64debc45f0f10420644a88b3,ff92bb5c0e18a95dd5f6128ac906fdb9,ffafb6cd88b712de90bfc442ff56f394,ffc8120406070bfede4fd173cc7deb47,ffd53b0df120a882e2bdb21e2fa507ee
user id,,,,,,,,,,,,,,,,,,,,,
1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2996.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2997.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2998.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2999.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

,Uniqe Id,Product Name,Category,Selling Price,About Product,Is Amazon Seller,category tags,product tags,content
363,003fed6c097d330b68fee5ca499eab24,Funko Pop! Animation: Rick and Morty Lawyer Mo...,"Toys & Games | Collectible Toys | Statues, Bob...",$8.93,Make sure this fits by entering your model num...,Y,toys games collectible toys statues bob...,funko pop animation rick and morty lawyer mo...,funko pop animation rick and morty lawyer mo...
475,001ea8215e519a8388c1f1574662550e,AMERICAN GREETINGS Rainbow Latex Balloons| Pac...,Home & Kitchen | Home Décor | Candles & Holder...,$10.17,Make sure this fits by entering your model num...,Y,home kitchen home d cor candles holder...,american greetings rainbow latex balloons pac...,american greetings rainbow latex balloons pac...
785,0109d9888cde8695196f8ba817699bba,CHROMA 000914 914 Hello Kitty Plush Auto Ornament,NaN,$11.99,Make sure this fits by entering your model num...,Y,,chroma 000914 914 hello kitty plush auto ornament,chroma 000914 914 hello kitty plush auto ornam...
1137,001d216315bc84347addbb1a9c7e5015,Melissa & Doug Joey Magnetic Dress-Up Set (Pre...,Toys & Games | Dress Up & Pretend Play | Prete...,$11.69,Make sure this fits by entering your model num...,Y,toys games dress up pretend play prete...,melissa doug joey magnetic dress up set pre...,melissa doug joey magnetic dress up set pre...
1356,00ff655de78602b3912c92be580d2546,Battlefront Miniature Tanks: Soviet Dice Set (...,Toys & Games | Games & Accessories | Board Games,$4.90,Make sure this fits by entering your model num...,Y,toys games games accessories board games,battlefront miniature tanks soviet dice set ...,battlefront miniature tanks soviet dice set ...
1645,0060230165aa724806977225c15e2bb9,Rubie's Marvel Captain Marvel Child's Kree Cos...,Toys & Games | Dress Up & Pretend Play | Costumes,$9.30,Make sure this fits by entering your model num...,Y,toys games dress up pretend play costumes,rubie s marvel captain marvel child s kree cos...,rubie s marvel captain marvel child s kree cos...
1716,0000fe97fd6c7705b08b7f4c7c5312ce,Banpresto 39652 Dragon Ball Super Blood of Sai...,NaN,$17.90,Make sure this fits by entering your model num...,Y,,banpresto 39652 dragon ball super blood of sai...,banpresto 39652 dragon ball super blood of sai...
1895,008e8f233ea674daad2ea0f3498449a4,"Papo Brown Bear Figure, Multicolor",NaN,$7.76,Make sure this fits by entering your model num...,Y,,papo brown bear figure multicolor,papo brown bear figure multicolor
2704,00037729f1cb566e149f0beff2d9ffd3,Pokeno 2,Toys & Games | Games & Accessories | Card Games,$15.01,Make sure this fits by entering your model num...,Y,toys games games accessories card games,pokeno 2,pokeno 2 toys games games accessories ...
2772,0027503a50a4f83becb24bf43b2cafcc,"Green Toys TRNRG-1293 Train, Red/Green",Toys & Games | Play Vehicles | Play Trains & R...,$17.28,Make sure this fits by entering your model num...,Y,toys games play vehicles play trains r...,green toys trnrg 1293 train red green,green toys trnrg 1293 train red green toys ...

In [15]:
df2 = pd.read_csv('product_details.csv')
df2.head()

,Uniqe Id,Product Name,Brand Name,Asin,Category,Upc Ean Code,List Price,Selling Price,Quantity,Model Number,...,Product Url,Stock,Product Details,Dimensions,Color,Ingredients,Direction To Use,Is Amazon Seller,Size Quantity Variant,Product Description
0,4c69b61db1fc16e7013b43fc926e502d,"DB Longboards CoreFlex Crossbow 41"" Bamboo Fib...",NaN,NaN,Sports & Outdoors | Outdoor Recreation | Skate...,NaN,NaN,$237.68,NaN,NaN,...,https://www.amazon.com/DB-Longboards-CoreFlex-...,NaN,NaN,NaN,NaN,NaN,NaN,Y,NaN,NaN
1,66d49bbed043f5be260fa9f7fbff5957,"Electronic Snap Circuits Mini Kits Classpack, ...",NaN,NaN,Toys & Games | Learning & Education | Science ...,NaN,NaN,$99.95,NaN,55324,...,https://www.amazon.com/Electronic-Circuits-Cla...,NaN,NaN,NaN,NaN,NaN,NaN,Y,NaN,NaN
2,2c55cae269aebf53838484b0d7dd931a,3Doodler Create Flexy 3D Printing Filament Ref...,NaN,NaN,Toys & Games | Arts & Crafts | Craft Kits,NaN,NaN,$34.99,NaN,NaN,...,https://www.amazon.com/3Doodler-Plastic-Innova...,NaN,NaN,NaN,NaN,NaN,NaN,Y,NaN,NaN
3,18018b6bc416dab347b1b7db79994afa,Guillow Airplane Design Studio with Travel Cas...,NaN,NaN,Toys & Games | Hobbies | Models & Model Kits |...,NaN,NaN,$28.91,NaN,142,...,https://www.amazon.com/Guillow-Airplane-Design...,NaN,NaN,NaN,NaN,NaN,NaN,Y,NaN,NaN
4,e04b990e95bf73bbe6a3fa09785d7cd0,Woodstock- Collage 500 pc Puzzle,NaN,NaN,Toys & Games | Puzzles | Jigsaw Puzzles,NaN,NaN,$17.49,NaN,62151,...,https://www.amazon.com/Woodstock-Collage-500-p...,NaN,NaN,NaN,NaN,NaN,NaN,Y,NaN,NaN

In [13]:
df2.shape

(10002, 28)

In [14]:
df2.columns

Index(['Uniqe Id', 'Product Name', 'Brand Name', 'Asin', 'Category',
       'Upc Ean Code', 'List Price', 'Selling Price', 'Quantity',
       'Model Number', 'About Product', 'Product Specification',
       'Technical Details', 'Shipping Weight', 'Product Dimensions', 'Image',
       'Variants', 'Sku', 'Product Url', 'Stock', 'Product Details',
       'Dimensions', 'Color', 'Ingredients', 'Direction To Use',
       'Is Amazon Seller', 'Size Quantity Variant', 'Product Description'],
      dtype='object')

In [15]:
df2.isna().sum()

Uniqe Id                     0
Product Name                 0
Brand Name               10002
Asin                     10002
Category                   830
Upc Ean Code              9968
List Price               10002
Selling Price              107
Quantity                 10002
Model Number              1772
About Product              273
Product Specification     1632
Technical Details          790
Shipping Weight           1138
Product Dimensions        9523
Image                        0
Variants                  7524
Sku                      10002
Product Url                  0
Stock                    10002
Product Details          10002
Dimensions               10002
Color                    10002
Ingredients              10002
Direction To Use         10002
Is Amazon Seller             0
Size Quantity Variant    10002
Product Description      10002
dtype: int64

In [17]:
keep_cols = [
    "Uniqe Id",
    "Product Name",
    "Category",
    "Selling Price",
    "About Product",
    "Is Amazon Seller"
]

df2 = df2[keep_cols]
df2

,Uniqe Id,Product Name,Category,Selling Price,About Product,Is Amazon Seller
0,4c69b61db1fc16e7013b43fc926e502d,"DB Longboards CoreFlex Crossbow 41"" Bamboo Fib...",Sports & Outdoors | Outdoor Recreation | Skate...,$237.68,Make sure this fits by entering your model num...,Y
1,66d49bbed043f5be260fa9f7fbff5957,"Electronic Snap Circuits Mini Kits Classpack, ...",Toys & Games | Learning & Education | Science ...,$99.95,Make sure this fits by entering your model num...,Y
2,2c55cae269aebf53838484b0d7dd931a,3Doodler Create Flexy 3D Printing Filament Ref...,Toys & Games | Arts & Crafts | Craft Kits,$34.99,Make sure this fits by entering your model num...,Y
3,18018b6bc416dab347b1b7db79994afa,Guillow Airplane Design Studio with Travel Cas...,Toys & Games | Hobbies | Models & Model Kits |...,$28.91,Make 8 different Planes at one time. | Experim...,Y
4,e04b990e95bf73bbe6a3fa09785d7cd0,Woodstock- Collage 500 pc Puzzle,Toys & Games | Puzzles | Jigsaw Puzzles,$17.49,Make sure this fits by entering your model num...,Y
...,...,...,...,...,...,...
9997,1a22f23576bfdfe5ed6c887dc117aab6,Remedia Publications REM536B Money Activity Bo...,Toys & Games | Learning & Education | Counting...,$9.31,NaN,Y
9998,e11514dcf1f087887cd5ea0bd646d1fc,Trends International NFL La Chargers HG - Mobi...,Toys & Games | Arts & Crafts,$6.99,Make sure this fits by entering your model num...,Y
9999,c00301a38560da2abc89c1f86ce4b267,NewPath Learning 10 Piece Science Owls and Owl...,Office Products | Office & School Supplies | E...,$37.95,Make sure this fits by entering your model num...,Y
10000,c2928dbf9796ceba44863a2736afb405,Disney Princess Do It Yourself Braid Set,Toys & Games | Arts & Crafts | Craft Kits,$3.58,NaN,Y
10001,2bb94aefc3467ed83860e0e2712d5f10,"Hasegawa Ladders Lucano Step Ladder, Orange",Home & Kitchen | Furniture | Kids' Furniture |...,$152.27,Make sure this fits by entering your model num...,Y

In [18]:
import re

df2['category tags'] = (
    df2['Category']
    .fillna('')
    .str.lower()
    .str.replace(r'[^a-z0-9\s]', ' ', regex=True)
)

df2['product tags'] = (
    df2['Product Name']
    .fillna('')
    .str.lower()
    .str.replace(r'[^a-z0-9\s]', ' ', regex=True)
)
df2['content'] = df2['product tags'] + ' ' + df2['category tags']
df2.head()

,Uniqe Id,Product Name,Category,Selling Price,About Product,Is Amazon Seller,category tags,product tags,content
0,4c69b61db1fc16e7013b43fc926e502d,"DB Longboards CoreFlex Crossbow 41"" Bamboo Fib...",Sports & Outdoors | Outdoor Recreation | Skate...,$237.68,Make sure this fits by entering your model num...,Y,sports outdoors outdoor recreation skate...,db longboards coreflex crossbow 41 bamboo fib...,db longboards coreflex crossbow 41 bamboo fib...
1,66d49bbed043f5be260fa9f7fbff5957,"Electronic Snap Circuits Mini Kits Classpack, ...",Toys & Games | Learning & Education | Science ...,$99.95,Make sure this fits by entering your model num...,Y,toys games learning education science ...,electronic snap circuits mini kits classpack ...,electronic snap circuits mini kits classpack ...
2,2c55cae269aebf53838484b0d7dd931a,3Doodler Create Flexy 3D Printing Filament Ref...,Toys & Games | Arts & Crafts | Craft Kits,$34.99,Make sure this fits by entering your model num...,Y,toys games arts crafts craft kits,3doodler create flexy 3d printing filament ref...,3doodler create flexy 3d printing filament ref...
3,18018b6bc416dab347b1b7db79994afa,Guillow Airplane Design Studio with Travel Cas...,Toys & Games | Hobbies | Models & Model Kits |...,$28.91,Make 8 different Planes at one time. | Experim...,Y,toys games hobbies models model kits ...,guillow airplane design studio with travel cas...,guillow airplane design studio with travel cas...
4,e04b990e95bf73bbe6a3fa09785d7cd0,Woodstock- Collage 500 pc Puzzle,Toys & Games | Puzzles | Jigsaw Puzzles,$17.49,Make sure this fits by entering your model num...,Y,toys games puzzles jigsaw puzzles,woodstock collage 500 pc puzzle,woodstock collage 500 pc puzzle toys games ...

In [19]:
df2.iloc[0, 4]

"Make sure this fits by entering your model number. | RESPONSIVE FLEX: The Crossbow features a bamboo core encased in triaxial fiberglass and HD plastic for a responsive flex pattern that’s second to none. Pumping & carving have never been so satisfying! Flex 2 is recommended for people 120 to 170 pounds. | COREFLEX TECH: CoreFlex construction is water resistant, impact resistant, scratch resistant and has a flex like you won’t believe. These boards combine fiberglass, epoxy, HD plastic and bamboo to create a perfect blend of performance and strength. | INSPIRED BY THE NORTHWEST: Our founding ideal is chasing adventure & riding the best boards possible, inspired by the hills, waves, beaches & mountains all around our headquarters in the Northwest | BEST IN THE WORLD: DB was founded out of sheer love of longboarding with a mission to create the best custom longboards in the world, to do it sustainably, & to treat customers & employees like family | BEYOND COMPARE: Try our skateboards & accessories if you've tried similar products by Sector 9, Landyachtz, Arbor, Loaded, Globe, Orangatang, Hawgs, Powell-Peralta, Blood Orange, Caliber or Gullwing"

In [18]:
df2.isna().sum()

Uniqe Id              0
Product Name          0
Category            830
Selling Price       107
About Product       273
Is Amazon Seller      0
category tags         0
product tags          0
content               0
dtype: int64

## Content Base Filtering

In [35]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

tfidf_vectorizer = TfidfVectorizer(stop_words='english')
tfidf_matrix_content = tfidf_vectorizer.fit_transform(df2['content'])
cosine_similarities_content = cosine_similarity(tfidf_matrix_content, tfidf_matrix_content)

In [39]:
item = 'Music Box'
similar_items = list(enumerate(cosine_similarities_content[1]))
similar_items = sorted(similar_items, key = lambda x:x[1], reverse=True)
top_similar_items = similar_items[1:10]

In [40]:
indexs = [x[0] for x in top_similar_items]
df2.iloc[indexs]['Product Name']

8083                 4M Tin Can Edge Detector Science Kit
7026    4M Logiblocs E-Building Blocks System Smart Ci...
3133                            Super Science Magnet Kit.
3268                       Learning Resources Brain Model
6868    Scientific Explorer Auto-Motion Gear Horse Eng...
9558         Snap Circuits Stem Electronics Discovery Kit
7156                             Clementoni Crazy Science
7342             Be Amazing! Toys Get Slimed! Science Kit
1771    Scientific Explorer My First Science Kids Scie...
Name: Product Name, dtype: object

## Collabrative Filtering

In [ ]:
def collaborative_filtering_recommendation(target_user_id):
    user_similarity = cosine_similarity(user_item_matrix)
    target_user_index = user_item_matrix.index.get_loc(target_user_id)
    user_similarities = user_similarity[target_user_index]
    similar_user_indices = user_similarities.argsort()[::-1][1:]
    recommended_items = []
    for user_index in similar_user_indices:
        rated_by_similar_user = user_item_matrix.iloc[user_index]
        not_rated_by_target_user = (rated_by_similar_user == 0) & (user_item_matrix.iloc[target_user_index] == 0)
        recommended_items.extend(user_item_matrix.columns[not_rated_by_target_user][:10])
    recommended_items_details = df1[df1['product id'].isin(recommended_items)][['product id']]
    result = recommended_items_details['product id'].head(10).tolist()
    final_result = df2[df2['Uniqe Id'].isin(result)]
    return final_result

In [16]:
df3 = pd.read_csv('customer_details.csv')
df3.head()

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Express,Yes,Yes,14,Venmo,Fortnightly
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Express,Yes,Yes,2,Cash,Fortnightly
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Free Shipping,Yes,Yes,23,Credit Card,Weekly
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,Next Day Air,Yes,Yes,49,PayPal,Weekly
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Free Shipping,Yes,Yes,31,PayPal,Annually

In [17]:
df3.columns

Index(['Customer ID', 'Age', 'Gender', 'Item Purchased', 'Category',
       'Purchase Amount (USD)', 'Location', 'Size', 'Color', 'Season',
       'Review Rating', 'Subscription Status', 'Shipping Type',
       'Discount Applied', 'Promo Code Used', 'Previous Purchases',
       'Payment Method', 'Frequency of Purchases'],
      dtype='object')

In [27]:
df3.describe()

,Customer ID,Age,Purchase Amount (USD),Review Rating,Previous Purchases
count,3900.000000,3900.000000,3900.000000,3900.000000,3900.000000
mean,1950.500000,44.068462,59.764359,3.749949,25.351538
std,1125.977353,15.207589,23.685392,0.716223,14.447125
min,1.000000,18.000000,20.000000,2.500000,1.000000
25%,975.750000,31.000000,39.000000,3.100000,13.000000
50%,1950.500000,44.000000,60.000000,3.700000,25.000000
75%,2925.250000,57.000000,81.000000,4.400000,38.000000
max,3900.000000,70.000000,100.000000,5.000000,50.000000